# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Entorno virtual
venv/
.venv/

# Base de datos local
db.sqlite3

# Archivos de entorno
.env

# Archivos de logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# --- Archivos de caché ---
*.cache/
