
body{
    background: #808080;
    font-family: "Open Sans", sans-serif;
}

.container{
    /*background-color: #f7f6f8;*/
    margin: auto;
}

.container-tabs{
    max-width: 600px;
    min-height: 30rem;
    border-radius: 10px;
    margin: auto;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    background-color: #ECE6E0;
}

.tabs{
    margin-top: 10px;
    padding: 10px;
}

.tabs a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.tabs a.active{
    background-color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
}

.tab-contents{
    padding: 10px;
    background-color: #f7f6f8;
    margin: auto;
}

.tab-content{
    display: none;
}

.tab-content.active{
    display: block;
}

.items-tareas{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.icon-delete{
    color: red;
    cursor: pointer;
}

.tarea-fecha{
    color: #0ec80f;
    font-size: 14px;
    margin-top: 5px;
}