{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% include 'base/header.html' %}

    {% comment %}<div class="group-header">
        <a id="btn-agregar" data-micromodal-trigger="modal-1"><i class="fa fa-plus" aria-hidden="true"></i>&nbspNueva Tarea</a>
    </div>{% endcomment %}

    <div class="group-header">
        <div class="group-buscador">
            <form method="GET">
                <input type="text" name="buscador" placeholder="Buscar..." aria-label="Buscar"
                       value="{{ valor_buscado }}">
                       <input type="hidden" name="tab" value="{{ tab_activo}}">
                <button type="submit" class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="group-btn">
            <a id="btn-agregar" data-micromodal-trigger="modal-1"><i class="fa fa-plus" aria-hidden="true"></i>&nbspNueva
                Tarea</a>
        </div>
    </div>

    <div class="container-tabs">
        <div class="tabs">
            {% comment %} <a class="tab active" href="#tab-pendientes">Pendientes</a>
            <a class="tab" href="#tab-terminados">Terminados</a> {% endcomment %}
            <a class="tab {% if tab_activo == 'pendientes' %}active{% endif %}" href="?tab=pendientes">Pendientes</a>
            <a class="tab {% if tab_activo == 'terminados' %}active{% endif %}" href="?tab=terminados">Terminados</a>
        </div>
        <div class="tab-contents">
            <div class="tab-content {% if tab_activo == 'pendientes' %}active{% endif %}" id="tab-pendientes">
                {% for tarea in tareas %}
                    {% if not tarea.completo %}
                        <div class="items-tareas" id="tarea-{{ tarea.id }}">
                            <form method="post" action="{% url 'actualizar-tarea' tarea.id %}" class="form-tarea">
                                {% csrf_token %}
                                <div class="tarea-check">
                                    <label class="checkbox">
                                        <input type="checkbox" name="completo" class="chk-completo"
                                               data-id="{{ tarea.id }}" {% if tarea.completo %}checked{% endif %}>
                                        <span class="box"></span>
                                    </label>
                                </div>
                                <div class="tarea-detalles acordeon" data-id="tarea-{{ tarea.id }}">
                                    <label class="titulo-tarea">{{ tarea.titulo }}</label>
                                    <div class="tarea-fecha">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        &nbsp
                                        <label>{{ tarea.creado|date:"d/m/Y" }}</label>
                                    </div>
                                </div>
                                <div class="tarea-acciones">
                                    <a class="btn-icon btn-edit" data-micromodal-trigger="modal-1"
                                       href="{% url 'editar-tarea' tarea.id %}">
                                       <i class="fa fa-pencil-square-o icon-edit" aria-hidden="true" style="font-size:20px"></i>
                                       <span class="tooltip">Editar</span>
                                    </a>
                                    <a class="btn-icon" onclick="confirm_delete({{ tarea.id }})">
                                        <i class="fa fa-trash-o icon-delete" aria-hidden="true" style="font-size:20px"></i>
                                        <span class="tooltip">Eliminar</span>
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="acordeon-content" data-id="tarea-{{ tarea.id }}">
                            <p>{{ tarea.descripcion }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-content {% if tab_activo == 'terminados' %}active{% endif %}" id="tab-terminados">
                {% for tarea in tareas %}
                    {% if tarea.completo %}
                        <div class="items-tareas">
                            <form method="post" action="{% url 'actualizar-tarea' tarea.id %}" class="form-tarea">
                                {% csrf_token %}
                                <div class="tarea-check">
                                    <label class="checkbox">
                                        <input type="checkbox" name="completo" class="chk-completo"
                                               data-id="{{ tarea.id }}" {% if tarea.completo %}checked{% endif %}>
                                        <span class="box"></span>
                                    </label>
                                </div>
                                <div class="tarea-detalles acordeon" data-id="tarea-{{ tarea.id }}">
                                    <label class="titulo-tarea tarea-completada">{{ tarea.titulo }}</label>
                                    <div class="tarea-fecha">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        &nbsp
                                        <label>{{ tarea.creado|date:"d/m/Y" }}</label>
                                    </div>
                                </div>
                                <div class="tarea-acciones">
                                    <a class="btn-icon" onclick="confirm_delete({{ tarea.id }})">
                                        <i class="fa fa-trash-o icon-delete" aria-hidden="true" style="font-size:20px"></i>
                                        <span class="tooltip">Eliminar</span>
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="acordeon-content" data-id="tarea-{{ tarea.id }}">
                            <p>{{ tarea.descripcion }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {# modal crear/editar tarea #}
    <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1">
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-1-title">Formulario de tareas</h2>
                    <button class="modal__close" aria-label="Cerrar modal" data-micromodal-close><i class="fa fa-times" aria-hidden="true"></i></button>
                </header>
                <main class="modal__content" id="modal-1-content">
                    {% include 'base/tarea_form.html' %}
                </main>
            </div>
        </div>
    </div>


    <script src="{% static 'base/js/script_alerts.js' %}"></script>
    <script src="{% static 'base/js/script.js' %}"></script>
{% endblock content %}