{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% if request.user.is_authenticated %}
        {# el "|title" luego del request.user es para poner la primera letra en mayuscula    #}
        <p>Hola {{ request.user|title }}</p>
        <form method="post" action="{%url 'logout' %}">
            {% csrf_token %}
            <button type="submit"> Salir </button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Ingresar</a>
    {% endif %}

    <div class="group-header">
        <h1>To-Do List</h1>
        <a id="btn-agregar" href="{% url 'crear-tarea' %}"><i class="fa fa-plus" aria-hidden="true"></i>&nbspNueva Tarea</a>
    </div>

    <div class="group-buscador">
        <form method="GET">
            <input type="text" name="buscador" placeholder="Buscar..." aria-label="Buscar" value="{{ valor_buscado }}">
            <button type="submit" class="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>

    <div class="container-tabs">
        <div class="tabs">
            <a class="tab active" href="#tab-pendientes">Pendientes</a>
            <a class="tab" href="#tab-terminados">Terminados</a>
        </div>
        <div class="tab-contents">
            <div class="tab-content active" id="tab-pendientes">
                {% for tarea in tareas %}
                    {% if not tarea.completo %}
                        <div class="items-tareas">
                            <div class="tarea-detalles">
                                <label>{{ tarea.titulo }}</label>
                                <div class="tarea-fecha">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp<label>{{ tarea.creado|date:"d/m/Y" }}</label>
                                </div>
                            </div>

                            <div class="tarea-acciones">
                                <a class="icon-delete" onclick="confirm_delete({{ tarea.id }})"><i class="fa fa-trash-o" aria-hidden="true" style="font-size:20px"></i></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="tab-content" id="tab-terminados">
                {% for tarea in tareas %}
                    {% if tarea.completo %}
                        <div class="items-tareas">
                            <div class="tarea-detalles">
                                <s><label>{{ tarea.titulo }}</label></s>
                                <div class="tarea-fecha">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp<label>{{ tarea.creado|date:"d/m/Y" }}</label>
                                </div>
                            </div>
                            <div class="tarea-acciones">
                                <a class="icon-delete" onclick="confirm_delete({{ tarea.id }})"><i class="fa fa-trash-o" aria-hidden="true" style="font-size:20px"></i></a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{% static 'base/js/script_alerts.js'%}"></script>
    <script src="{% static 'base/js/script.js'%}"></script>
{% endblock content %}